html {
	position: relative;
  	min-height: 100%;
  	overflow-x: hidden;
}

body {
	margin:  0;
	font-family: 'rennerbook', sans-serif;
	font-size:  15px;
	min-height: 100%;
	width:  100%;
	margin-bottom:  60px;
	height:  100%;
	display: table;
	padding-bottom:  100px;
}

a {
	text-decoration: none;
}

/*Header*/
#top-header {
	position: relative;
	height:  80px;
}

#top-header > div {
    font-family: 'rennerbold', sans-serif;
}

#top-header > div > span {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    color: #fff;
    background: #000;
    padding: 5px;
    font-size: 21px;
    letter-spacing: 0.2px;
}

img {
	width:  100%;
	transition: all 0.5s ease;

}

img.logo {
    max-width: 260px;
    position: absolute;
    top: 93px;
    left: -20px;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

#top-header a:hover img.logo ,
#top-header a:focus img.logo{
	-webkit-filter: grayscale(10%); 
    filter: grayscale(10%);
}

#top-header:after {
    content: '';
    position: absolute;
    width: 300px;
    height: 40px;
    top: 158px;
    left: 0;
    background: rgba(218, 243, 16, 0.9);
    z-index: -4;
}

/*Menü*/
nav {
	position: relative;
    font-family: 'rennerbold', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	text-align: right;
}

nav:after {
    content: '';
    position: absolute;
    width: 700px;
    height: 40px;
    top: 23px;
    right: 0;
    background: rgba(218, 243, 16, 0.9);
    z-index: -1;
}

nav:before {
    content: '';
    position: absolute;
    width: 65%;
    height: 40px;
    top: 42px;
    background: rgba(0, 0, 0, 0.9);
    right: 200px;
    z-index: -2;
}

nav ul {
	list-style-type: none;
    padding-right: 13px;
}

nav ul li {
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	color:  #fff;
}

nav ul li a {
	color:  #000;
	text-decoration: none;
	font-size: 18px;
}

nav ul li a:after {
    content: '';
    position: absolute;
    width: 80%;
    height: 3px;
    bottom: 8px;
    left: 8px;
    background: #000;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transition: transform 0.1s;
}

nav ul li:hover a:after,
nav ul li:focus a:after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

/*Content Area*/
.content {
	    width: 80%;
    margin: 120px auto;
    display: table;
    padding-top: 30px;
    margin-bottom: 30px;
}

.left-col,
.right-col  {
	float:  left;
	width:  50%;
}

figure {
	height:  270px;
	overflow: hidden;
	margin: 7px 4px;
	position: relative;
}

figure.fig-square {
	height: 450px;
	/* max-width:  460px;
	margin: 0 auto; */
}

figure:before {
	content:  '';
	position: absolute;
	width:  100%;
	height:  100%;
	/*background: rgba(218, 243, 16, 0.6);*/
	transition: all 0.3s ease;
	z-index: 20;
}

figure:hover:before,
figure:focus:before  {
	background: rgba(218, 243, 16, 0.4);
}

figure img {
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    width:  120%;
}

figure:hover img,
figure:focus img  {
	transform: scale(1.1, 1.1);
	-webkit-filter: grayscale(10%); 
    filter: grayscale(10%);
}

figcaption {
    font-family: 'rennerbold', sans-serif;
	font-size:  30px;
	line-height: 1.1;
	letter-spacing: 1px;
	color: #fff;
	background:  #000;
	text-align: left;
	position: absolute;
	top: 50px;
	left: 30px;
	max-width: 70%;
	padding: 10px;
	transition: all 0.3s ease;
	transform: translate3d(0, -20%, 0);
	z-index:  20;
    word-wrap:  break-word;
}

figure:hover figcaption,
figure:focus figcaption  {
	/* color:  #000;
	background: rgba(218, 243, 16, 0.8); */
	font-size:  20px;
	top: 15px;
	left:  15px;
	transform: translate3d(0, 0, 0);
	text-align: left;
	max-width:  60%;
}

.page-heading {
	position: relative;
    font-family: 'rennerbold', sans-serif;
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.page-heading:after {
    content: '';
    position: absolute;
    width: 300px;
    height: 30px;
    top: 23px;
    left: -15%;
    background: rgba(218, 243, 16, 0.9);
    z-index: -1;
}

/*Contact*/
.contact-info {
	width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.contact-info strong {
	font-family: 'rennerbold', sans-serif;
}

a.link-inline {
	text-decoration: none;
	color:  #000;
}

/*Forms*/
form {
    width: 325px;
    margin: 0 auto;
	margin-top: 95px;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
	height: 40px;
	width:  300px;
	outline:  0;
    font-family: 'rennerbook';
    margin-bottom:  15px;
    padding-left: 20px;
    font-size: 15px;
    color: #000;
    border: 0;
    border-bottom: 3px solid #000;
    background: rgba(207, 208, 201, 0.34);
}

textarea {
    font-family: 'rennerbook';
    font-size: 15px;
	height: 200px;
	width:  300px;
    margin-bottom:  15px;
    padding-top: 10px;
    padding-left: 18px;
    border: 0;
    border-bottom: 3px solid #000;
    background: rgba(207, 208, 201, 0.34);
    outline:  0;
}

input[type="submit"],
a.button {
    font-family: 'renner_mediummedium';
	border: 2px solid #000;
    background: #000;
    color: #fff;
    height:  50px;
	width:  320px;
	text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    transition:  all 0.5s ease;
}

a.button {
	display: block;
	text-align: center;
	margin-top:  20px;
	line-height:  2.7;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
a.button:hover,
a.button:focus {
	background: #fff;
	color:  #000;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder  {
	color:  #000;
}

/*Footer*/
footer {
	clear:  both;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 16px;
	height:  100px;
}

footer:before {
	content: '';
	position: absolute;
	width:  400px;
	height: 40px;
	top: 15px;
	right:  0;
	background: rgba(218, 243, 16, 0.9);
	z-index: -1;
}

footer:after {
	content: '';
    position: absolute;
    width: 100%;
    height: 35px;
    top: 37px;
    background: rgba(0, 0, 0, 0.9);
    right: 200px;
    z-index: -2;
}

footer span {
    font-family: 'rennerbold', sans-serif;
	position: absolute;
	right: 30px;
}

/*Responsive*/
@media screen and (min-width: 1200px) {
	figure {
		height:  400px;
	}

	figure.fig-square {
		height:  600px;
	}
}

@media screen and (max-width: 768px) {
	.left-col,
	.right-col {
		width:  100%;
	}

	figure.fig-square {
		height:  500px;
	}

	#top-header > div > span {
		left:  0;
		transform:  translateX(0);
	}
}

@media screen and (max-width: 580px) {
	img.logo {
	    max-width: 230px;
   	 	top: 10px;
    	left: auto;
    	right: -25px;
	}

	#top-header > div > span {
	    max-width: 40%;
    	font-size: 15px;
	}

	nav ul {
		padding-left:  0;
	}

	nav ul li {
		padding:  5px 2px;
	}
}

